html{
  background-color: palegreen;
}

h3{
  color : antiquewhite;
  background-color: cadetblue;
}

ul {
  list-style: circle;

}

ol{
  background-color: lightgrey;
}

a{
  text-decoration: none ;
  color : black;
}

button {
  border-radius: 12px;
}

button:hover {
 background-color: antiquewhite;
}
