<html>
<p>
  <br/>
</p>

<form>

  Wallet Name : <input placeholder="yolo or not?"
                       name="name" [(ngModel)]="formModel.name">
  <br/>
  Limit : <input placeholder="Enter a limit" type="number"
                 name="limit" [(ngModel)]="formModel.limit">

  <br/>
  Enter you level :
  <select [(ngModel)]="formModel.level" name="level">
    <option *ngFor="let l of levels; let i = index">{{l}} - {{i}} -</option>
  </select>
  <button (click)="createNewWallet()" [disabled]="isDisabled()">Create new wallet</button>
  <br>
  <br>

</form>
<br/>

You have chosen : <strong>{{formModel.level}}</strong>
<br/>
<br/>
</html>
